.button {
  position: relative;
  display: inline-block;
  background-color: $accent;
  padding: 14px 20px;
  border: none;
  font-size: 10px;
  font-weight: 800;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: $dark;
    transition: width 0.5s ease-out;
  }
  &:hover,
  &:focus {
    &::before {
      width: 100%;
    }
  }
  span {
    position: relative;
    z-index: 1;
  }
}
