body,
html {
  height: 100%;
}

// TOP LINE

.home-header {
  background-color: $deep;
  height: 100%;
  color: #fff;
  padding-top: $size;
  @include media-breakpoint-down(sm) {
    padding-top: $size-sm;
  }
}

.top-line {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: $size;
  border-bottom: 1px solid rgba(#fff, $border-opacity);
  z-index: 10;
  background-color: $deep;
  @include media-breakpoint-down(sm) {
    height: $size-sm;
  }
}

.logo {
  flex: 0 0 200px;
  display: flex;
  align-items: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.5em;
  text-decoration: none;
  &:hover,
  &:focus {
    color: #fff;
  }
  @include media-breakpoint-down(sm) {
    flex: 1 0 0;
  }
}

.logo__img-wrapper {
  width: $size;
  height: $size;
  display: flex;
  align-items: center;
  justify-content: center;
  @include media-breakpoint-down(sm) {
    width: $size-sm;
    height: $size-sm;
  }
}

.logo__images {
  width: 50px;
  height: 50px;
}

.logo__text {
  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.menu-button-container {
  position: relative;
  flex: 0 0 200px;
  height: $size;
  text-align: right;
  @include media-breakpoint-down(sm) {
    height: $size-sm;
  }
  @include media-breakpoint-down(md) {
    flex: 1 0 0;
  }
}

.menu-button {
  position: absolute;
  top: 0;
  right: 0;
  width: $size;
  height: $size;
  background-color: #3c3c3c;
  background-image: url(../images/dist/burger.svg);
  background-repeat: no-repeat;
  background-position: center;
  transition: background 0.25s ease-out;
  &:hover {
    background-color: $accent;
  }
  @include media-breakpoint-down(sm) {
    width: $size-sm;
    height: $size-sm;
  }
}

.top-line__decoration {
  flex: 1 0 0;
  text-align: center;
  &::before {
    content: "";
    display: inline-block;
    height: 1px;
    width: 50px;
    background-color: #fff;
    opacity: $border-opacity;
  }
  @include media-breakpoint-down(sm) {
    display: none;
  }
}

@include media-breakpoint-down(sm) {
  .top-line__adress,
  .top-line__separator {
    display: none;
  }
}

.top-line__contacts {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 10px;
  letter-spacing: 0.4em;
  color: rgba(#fff, 0.5);
  text-transform: uppercase;
}

.top-line__separator {
  margin: 0 20px;
  width: 1px;
  height: 30px;
  background-color: rgba(#fff, $border-opacity * 2);
}

.top-line__numbers,
.top-line__text {
  margin-left: 7px;
  a {
    color: $accent;
  }
}

.top-line__numbers {
  color: $accent;
}

.top-line__text {
  color: rgba(#fff, 0.75);
}

//ASIDE

.home-header__content {
  height: 100%;
}

.home-aside {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: $size;
  width: $size;
  height: 100%;
  background-color: $dark;
  z-index: 5;
  @include media-breakpoint-down(sm) {
    padding-top: $size-sm;
    width: $size-sm;
  }
}

.home-aside__decoration {
  flex: 1 0 0;
  width: 100%;
  background-image: url(../images/dist/decoration-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50px 70px;
  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.home-aside__soc {
  flex: 1 0 0;
  @include media-breakpoint-down(sm) {
    margin-top: 40px;
  }
}

.home-aside__share-icon {
  background-color: $accent;
  width: $size;
  flex: 0 0 $size;
  background-image: url(../images/dist/share-solid.svg);
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: center;
  @include media-breakpoint-down(sm) {
    width: $size-sm;
    flex: 0 0 $size-sm;
  }
}

.soc-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -1px;
  width: 40px;
  height: 40px;
  border: 1px solid rgba(#fff, $border-opacity);
  border-bottom: 1px solid transparent;
  transition: background 0.5s ease-out;
  &:last-child {
    border-bottom: 1px solid rgba(#fff, $border-opacity);
  }
  img {
    width: 15px;
    height: auto;
    max-height: 15px;
    opacity: 0.3;
    transition: opacity 0.5s ease-out;
  }
  &:hover {
    background-color: $accent;
    img {
      opacity: 1;
    }
  }
}

// SLIDER

.slider-container {
  position: relative;
  padding-left: $size;
  width: 100%;
  height: 100%;
  overflow: hidden;
  @include media-breakpoint-down(sm) {
    padding-left: $size-sm;
  }
}

.slider-bottom {
  position: absolute;
  left: $size;
  display: flex;
  bottom: 0;
  height: $size;
  width: calc(75% - #{$size});
  align-items: center;
  z-index: 5;
  @include media-breakpoint-down(sm) {
    left: $size-sm;
    height: $size-sm;
    width: 100%;
  }
}

.slider-share {
  flex: 0 1 auto;
}

.slider-scrollbar {
  flex: 1 0 0;
  .swiper-scrollbar {
    height: 1px;
    background-color: rgba(#fff, 0.2);
  }
  .swiper-scrollbar-drag {
    top: -1px;
    height: 3px;
    background-color: $accent;
  }
  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.slider-navigation__container {
  position: relative;
  margin: 0 auto;
  max-width: 70px;
}

.slider-navigation {
  position: relative;
  left: 10px;
  flex: 0 0 140px;
  .swiper-button-prev,
  .swiper-button-next {
    width: 32px;
    height: 32px;
    color: $accent;
    background-color: #3c3c3c;
    border-radius: 100%;
    border: 2px solid $accent;
    &::after {
      font-size: 10px;
    }
    &.swiper-button-disabled {
      opacity: 1;
      color: #8a8a8a;
      border-color: #a8a8a8;
    }
  }
  .swiper-button-prev {
    left: 0;
  }
  .swiper-button-next {
    right: 0;
  }
  @include media-breakpoint-down(sm) {
    left: -20px;
  }
}

.slider-share__items {
  display: flex;
}

.slider-share__item {
  width: $size;
  height: $size;
  border: none;
  background-color: $dark;
  border-right: 1px solid rgba(#fff, $border-opacity);
  &:last-child {
    position: relative;
    border-bottom: none;
    border-right: 3px solid $accent;
  }
  @include media-breakpoint-down(sm) {
    width: $size-sm;
    height: $size-sm;
  }
}

.slider-img {
  position: relative;
  height: 100%;
  width: 75%;
  overflow: hidden;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(#000, 0.45);
    z-index: 2;
  }
  @include media-breakpoint-down(sm) {
    width: 100%;
  }
}

.slider-img__slide {
  height: 100%;
  overflow: hidden;
}

.slider-img__bg {
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slider-text {
  position: absolute;
  width: 100%;
  height: calc(100% - #{$size});
  z-index: 3;
  @include media-breakpoint-down(sm) {
    height: calc(100% - #{$size-sm});
  }
}

.slider-text__slide {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.slider-text__content {
  padding-right: 22%;
  text-align: right;
  @include media-breakpoint-down(sm) {
    padding-left: 20px;
  }
}

.slider-text__heading {
  width: 100%;
  text-transform: uppercase;
  font-size: 60px;
  line-height: 120%;
  max-width: 780px;
  float: right;
  clear: both;
  span {
    white-space: nowrap;
    color: $accent;
  }
  @include media-breakpoint-down(md) {
    font-size: 50px;
    max-width: 500px;
  }
  @include media-breakpoint-down(sm) {
    font-size: 28px;
  }
  @include media-breakpoint-down(xs) {
    font-size: 28px;
  }
}

.slider-text__desc {
  float: right;
  max-width: 500px;
  font-size: 13px;
  font-weight: 500;
  margin-top: 15px;
  margin-bottom: 20px;
  clear: both;
  @include media-breakpoint-down(sm) {
    font-size: 12px;
  }
}

.slider-text__button {
  float: right;
  clear: both;
}

.slider-pagination {
  position: relative;
  flex: 0 0 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: $size;
  .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
    opacity: 1;
    background-color: #fff;
    margin: 0 7.5px;
  }
  .swiper-pagination-bullet-active {
    position: relative;
    background-color: $accent;
    &::before {
      content: "";
      position: absolute;
      top: -4px;
      left: -4px;
      width: 14px;
      height: 14px;
      border: 1px solid $accent;
      border-radius: 50%;
    }
  }
  @include media-breakpoint-down(sm) {
    display: none;
    height: $size-sm;
  }
}

.slider-gear {
  position: absolute;
  top: 50%;
  right: calc(23.8% - 235px);
  margin-top: -270px;
  width: 470px;
  height: 470px;
  background-image: url(../images/dist/gear.svg);
  background-size: cover;
  background-position: center;
  z-index: 2;
  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.slider-pagination-count {
  position: absolute;
  top: 30px;
  right: 45px;
  width: 120px;
  height: 68px;
  font-size: 24px;
  font-weight: 500;
  z-index: 100;
  .current {
    display: inline-block;
    min-width: 42px;
    font-size: 40px;
    color: $accent;
  }
  @include media-breakpoint-down(md) {
    top: 0;
    right: 0;
    transform: scale(0.6);
  }
  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.slider-pagination-current {
  position: absolute;
  right: 40px;
  bottom: 10px;
  font-size: 100px;
  color: $deep;
  -webkit-text-stroke: 1px #7f7f7f;
  &__dot {
    color: $accent;
    -webkit-text-stroke: 1px transparent;
  }
  @include media-breakpoint-down(md) {
    font-size: 50px;
    bottom: 0;
    right: 20px;
  }
}
